#banner {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  background: #9A32CD ;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color:  #102 ;
  text-align: center;
}
#banner img {
  float: left;
}
#columns {
  background: #141 ;
}
#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background:white;
}
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #483D8B ;
}
#side a {
  color: #bfb ;
  font-size: small;
}
h1 {
    font-size: 34px;
    font-weight: bold;
    color: #000;
    }
a:link {
color:#00c0ff;
}
a:visited {
color:#00c0ff;
}
a:hover {
color:#FFFFFF;
background-color:#00c0ff;
}

.content a:hover {
color:#FFFFFF;
background-color:#00c0ff;
}
